$primary: #fe302d;

h1{
    color: $primary;
}

.app{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rebeccapurple;
  font-weight: bold;
  border: 10px solid #1C6EA4;
  padding: 3rem;
  margin: 0rem;
}

::placeholder {
    color: gray;
  }